.button {
  background: $terracot;
  color: white;
  display: inline-block;
  border: none;
  font-weight: 300;
  line-height: 1;
  font-size: $font-size-large;
  text-decoration: none;
  padding: $s-size;

}

.button--link {
  background: none;
}

.button-success {
  background: $light-green;
}

.button-danger {
  background: $terracot;
}

.button-default {
  background: $dark-grey;
  &:hover {
    background: lighten($dark-grey, 5%)
  }
}

.icon {
  padding: 0 0 0 $s-size;
}

.icon--beside {
  padding: 0 0 0 $xxs-size;
}